/*reset*/
html,body { background: #f5f5f5;}
body { margin: 0; padding: 0; font-family: Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;}
h1,h2 { font-size: 12px; font-style: normal; font-weight: normal;}

/*util*/
.fl { float: left;}
.fr { float: right;}
.rel { position: relative;}
.abs { position: absolute;}
.clearfix{
    *zoom: 1;
}
.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}
.sanjiao { border: 8px solid transparent; border-bottom: 8px solid #ededef; position: absolute;}
.square { width: 20px; height: 20px; border-radius: 50%; position: absolute; background: #FBBC05;}
.square i { top: -3px; left: 8px; background: #fff; width: 4px; height: 22px; border-top: 2px solid #FBBC05; border-bottom: 2px solid #FBBC05; -webkit-transform: rotate(45deg); transform: rotate(45deg); position: absolute;}
/* common */
nav { background: url(../images/body.png) repeat-x; height: 82px;}
.wrapper { width: 982px; margin: 0 auto;}
footer { border-top: 1px solid #d5d5d5; background: #f9f9f9; height: 101px;}
/* head */
nav .wrapper { height: 82px;}
nav .wrapper .logo { width: 220px; height: 44px; padding-top: 19px;}
nav .wrapper .logo a { background: url(../images/logo.png) no-repeat 0 0; width: 220px; height: 44px; display: block;}
nav .wrapper .logo .one,
nav .wrapper .logo a:hover { -webkit-animation: logo 1.2s steps(11) backwards; animation: logo 1.2s steps(11) backwards;}
nav .wrapper .menu { margin-top: 20px;}
nav .wrapper .menu li { float: left; padding-bottom: 2px;}
nav .wrapper .menu li > a { padding: 0 40px; height: 44px; display: block; color: #fff; line-height: 44px; position: relative; box-shadow: 0 2px 2px #000;}
nav .wrapper .menu li:nth-child(1) .sanjiao { bottom: 0; left:50%; margin-left: -4px; z-index: 2; }
nav .wrapper .menu li:nth-child(1) { border-bottom: 2px solid rgba(66,133,244,.8);}
nav .wrapper .menu li:nth-child(2) { border-bottom: 2px solid rgba(234,67,53,.8);}
nav .wrapper .menu li:nth-child(3) { border-bottom: 2px solid rgba(251,188,5,.8);}
nav .wrapper .menu li:nth-child(4) { border-bottom: 2px solid rgba(52,168,83,.8);}
nav .wrapper .menu li:nth-child(1) a { background: #4285F4;}
nav .wrapper .menu li:nth-child(1) a:hover { background: #2e5ead;}
nav .wrapper .menu li:nth-child(2) a { background: #EA4335;}
nav .wrapper .menu li:nth-child(2) a:hover { background: #a22e24;}
nav .wrapper .menu li:nth-child(3) a { background: #FBBC05;}
nav .wrapper .menu li:nth-child(3) a:hover { background: #ba8c08;}
nav .wrapper .menu li:nth-child(4) a { background: #34A853;}
nav .wrapper .menu li:nth-child(4) a:hover { background: #1c5d2d;}
@keyframes logo {
  from { background-position: 0 -40px;}
  to { background-position: 0 -480px;}
}
@-webkit-keyframes logo {
  from { background-position: 0 -40px;}
  to { background-position: 0 -480px;}
}
/* main */
.main { background: #fff; overflow: hidden; min-height: 500px;}
.main .newslist { width: 690px; padding: 24px 20px; border: 1px solid #D3D3D4; border-top: 0; border-bottom: 0; }
.main .side { width: 249px; border-right: 1px solid #D3D3D4; padding-bottom: 2000px; margin-bottom: -2000px;}

/* newslist */
.main .title { height: 30px; font-size: 24px; border-bottom: 2px solid #4285F4; padding-bottom: 8px; line-height: 30px; color: #EA4335; padding-left: 26px;}
.main .title .square { top: 5px; left: 0;}
.main .newslist { min-height: 600px;}
.main .newslist .list { padding: 20px 0;}
.main .newslist .list li { height: 45px; margin-top: 5px; border-left: 2px solid #FBBC05; -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out; background: rgba(241,241,241,.6);}
.main .newslist .list li:first-child { margin-top: 0;}
.main .newslist .list li a { position: relative; left: 20px; line-height: 45px; font-size: 20px; display: inline-block;}
.main .newslist .list li .times { font-size: 14px; color: #999; line-height: 40px; margin-right: 10px;}
.main .newslist .list li:hover { border-left-width: 18px;}
.main .newslist .list li:hover a { left: 4px;}

.main .post { padding: 24px 20px 20px; border: 1px solid #D3D3D4; border-top: none; border-bottom: none; min-height: 600px; }
.main .post .post-header { height: 53px; border-bottom: 2px solid #FBBC05;}
.main .post .post-header .post-title { border-left: 5px solid #4285F4; padding: 0 20px; line-height: 48px; font-size: 24px; color: #000;}
.main .post .post-header .post-title .time { font-size: 16px; color: #666; padding-left: 30px; display: inline-block;}
.main .post .post-content { padding: 20px;}










